<div class="container stickyelement" id="stickymenu">
  <div class="stickybackground">
    <div class="docsnav">
      <span class="docshome"><a href="/">Documentation Hub</a></span>
      <div class="truenas-menubar" style="float:right;">
        <div class="truenas-docsnav-menuitem">
          <button class="truenas-docsnav-menubutton" id="productButton">Product <i class="fa fa-angle-down"></i></button>
          <div class="truenas-navmenudropdown" id="productDropdown">
            <div class="truenas-dropdown-item" onclick="selectProduct('TrueNAS CORE')" id="core">TrueNAS CORE</div>
            <div class="truenas-dropdown-item" onclick="selectProduct('TrueNAS SCALE')" id="scale">TrueNAS SCALE</div>
            <div class="truenas-dropdown-item" onclick="selectProduct('TrueCommand')" id="truecommand">TrueCommand</div>
            <div class="truenas-dropdown-item" onclick="selectProduct('TrueNAS Systems'); window.location.href='/hardware/'">TrueNAS Systems</div>
          </div>
        </div>
        <div class="truenas-docsnav-menuitem" onmouseover="showVersionOptions()" onmouseout="hideVersionOptions()">
          <button class="truenas-docsnav-menubutton" id="versionButton" disabled><span id="selectedVersionPlaceholder">Version <i class="fa fa-angle-down"></i></span></button>
          <div class="truenas-navmenudropdown" id="versionDropdown" style="display: none;">
            <!-- Version dropdown options dynamically load -->
          </div>
        </div>
        <button class="docs-load-button" onclick="goToSelectedUrl()" disabled>Go</button>
        <!-- Placeholder for Docs Search element to drop in here -->
        <span id="gdoc-color-theme" style="padding-left:13px;padding-right:13px;display:flex;align-items:center;justify-content:center;">
          <svg class="gdoc-icon gdoc_brightness_dark" style="width:30px;height:30px;">
            <title>{{ i18n "button_toggle_dark" }}</title>
            <use xlink:href="#gdoc_brightness_dark"></use>
          </svg>
          <svg class="gdoc-icon gdoc_brightness_light" style="width:30px;height:30px;">
            <title>{{ i18n "button_toggle_dark" }}</title>
            <use xlink:href="#gdoc_brightness_light"></use>
          </svg>
          <svg class="gdoc-icon gdoc_brightness_auto" style="width:30px;height:30px;">
            <title>{{ i18n "button_toggle_dark" }}</title>
            <use xlink:href="#gdoc_brightness_auto"></use>
          </svg>
        </span>
        <div id="google_translate_element"></div>
      </div>
    </div>
  </div>
</div>
<script>
  function selectProduct(product) {
    document.getElementById('productButton').textContent = product;
    document.getElementById('versionButton').disabled = false;

    var versionDropdown = document.getElementById('versionDropdown');
    versionDropdown.style.display = 'none';
    versionDropdown.innerHTML = '';

    if (product === 'TrueNAS CORE') {
      versionDropdown.innerHTML = `
        <div class="truenas-dropdown-item" onclick="selectVersion('13')" id="13">13.0</div>
        <div class="truenas-dropdown-item" onclick="selectVersion('12')" id="12">12.0</div>
      `;
    } else if (product === 'TrueNAS SCALE') {
      versionDropdown.innerHTML = `
        <div class="truenas-dropdown-item" onclick="selectVersion('2310')" id="23.10">23.10</div>
        <div class="truenas-dropdown-item" onclick="selectVersion('2212')" id="22.12">22.12</div>
        <div class="truenas-dropdown-item" onclick="selectVersion('2202')" id="22.02">22.02</div>
      `;
    } else if (product === 'TrueCommand') {
      versionDropdown.innerHTML = `
        <div class="truenas-dropdown-item" onclick="selectVersion('3')" id="3">3</div>
        <div class="truenas-dropdown-item" onclick="selectVersion('2')" id="2">2</div>
        <div class="truenas-dropdown-item" onclick="selectVersion('1')" id="1">1</div>
      `;
    }

    document.getElementById('versionButton').disabled = false;
  }

  function selectVersion(version) {
    var versionOptions = document.querySelectorAll('.truenas-dropdown-item');

    versionOptions.forEach(function(option) {
      option.classList.remove('selected');
    });

    var selectedOption = document.getElementById(version);
    selectedOption.classList.add('selected');

    var selectedVersionPlaceholder = document.getElementById('selectedVersionPlaceholder');
    selectedVersionPlaceholder.innerText = selectedOption.innerText;

    document.querySelector('.docs-load-button').disabled = false;
  }

  function showVersionOptions() {
    var versionDropdown = document.getElementById('versionDropdown');
    versionDropdown.style.display = 'block';
  }

  function hideVersionOptions() {
    var versionDropdown = document.getElementById('versionDropdown');
    versionDropdown.style.display = 'none';
  }

  function updateGoButtonState() {
    var product = document.getElementById('productButton').innerText;
    var version = document.getElementById('selectedVersionPlaceholder').innerText;
    var goButton = document.querySelector('.docs-load-button');

    if (product && version) {
      goButton.disabled = false;
    } else {
      goButton.disabled = true;
    }
  }

  function goToSelectedUrl() {
    var product = document.getElementById('productButton').innerText;
    var version = document.getElementById('versionDropdown').querySelector('.selected').id;

    if (product && version) {
      var url = 'localhost:1313/' + product + '/' + version;
      window.location.href = url;
    }
  }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
  }
</script>
