<div class="stickyelement" id="stickymenu">
	<div class="stickybackground">
		<div class="container" style="display:flex;flex-wrap:wrap;padding-top:.5rem;justify-content:center;align-items:center;">
			<span class="docshome"><a href="/">TrueNAS Documentation</a></span>
			<form action="https://www.google.com/search" method="get" style="float:right;">
				<input type="text" name="q" placeholder="Search..." />
				<input type="submit" value="Search" />
			</form>
			<div class="truenas-menubar" style="float:right;">
				<div class="truenas-menuitem">
					<button class="truenas-menubutton" id="productButton">Product <i class="fa fa-angle-down"></i></button>
					<div class="truenas-menudropdown" id="productDropdown">
						<div class="dropdown-item" onclick="selectProduct('TrueNAS CORE')">TrueNAS CORE</div>
						<div class="dropdown-item" onclick="selectProduct('TrueNAS SCALE')">TrueNAS SCALE</div>
						<div class="dropdown-item" onclick="selectProduct('TrueCommand')">TrueCommand</div>
						<div class="dropdown-item" onclick="selectProduct('TrueNAS Systems')">TrueNAS Systems</div>
					</div>
				</div>
				<div class="truenas-menuitem" onmouseover="showVersionOptions()" onmouseout="hideVersionOptions()">
					<button class="truenas-menubutton" id="versionButton" disabled>Product Version <i class="fa fa-angle-down"></i></button>
					<div class="truenas-navmenudropdown" id="versionDropdown">
					<!-- Version dropdown options dynamically load -->
					</div>
			    </div>
			    <span id="gdoc-color-theme"style="padding-right:5px">
				  <svg class="gdoc-icon gdoc_brightness_dark">
				  <title>{{ i18n "button_toggle_dark" }}</title>
				  <use xlink:href="#gdoc_brightness_dark"></use>
				  </svg>
				  <svg class="gdoc-icon gdoc_brightness_light">
				  <title>{{ i18n "button_toggle_dark" }}</title>
				  <use xlink:href="#gdoc_brightness_light"></use>
				  </svg>
				  <svg class="gdoc-icon gdoc_brightness_auto">
				  <title>{{ i18n "button_toggle_dark" }}</title>
				  <use xlink:href="#gdoc_brightness_auto"></use>
				  </svg>
			    </span>
				<div id="google_translate_element"></div>
			</div>
		</div>
	</div>
</div>
<script>
function selectProduct(product) {
  document.getElementById('productButton').textContent = product;
  document.getElementById('versionButton').removeAttribute('disabled');
  document.getElementById('versionDropdown').innerHTML = '';

  if (product === 'TrueNAS CORE') {
    document.getElementById('versionDropdown').innerHTML = `
	  <div class="dropdown-item"><a href="/core/latest/">Latest Stable</a></div>
      <div class="dropdown-item"><a href="/core/13/">13.0</a></div>
	  <div class="dropdown-item"><a href="/archive/">Archive</a></div>
    `;
  } else if (product === 'TrueNAS SCALE') {
    document.getElementById('versionDropdown').innerHTML = `
      <div class="dropdown-item"><a href="/scale/latest/">Latest Stable</a></div>
	  <div class="dropdown-item"><a href="/scale/2310/">23.10</a></div>
	  <div class="dropdown-item"><a href="/scale/2212/">22.12</a></div>
	  <div class="dropdown-item"><a href="/scale/2202/">22.02</a></div>
	  <div class="dropdown-item"><a href="/archive/">Archive</a></div>
    `;
  } else if (product === 'TrueCommand') {
    document.getElementById('versionDropdown').innerHTML = `
      <div class="dropdown-item"><a href="/truecommand/latest/">Latest Stable</a></div>
	  <div class="dropdown-item"><a href="/truecommand/2/">2</a></div>
      <div class="dropdown-item"><a href="/truecommand/1/">1</a></div>
	  <div class="dropdown-item"><a href="/archive/">Archive</a></div>
    `;
  } else if (product === 'TrueNAS Systems') {
    document.getElementById('versionDropdown').innerHTML = `
      <div class="dropdown-item"><a href="/hardware/">Systems Overview</a></div>
      <div class="dropdown-item"><a href="/hardware/">Visio Stencils</a></div>
	  <div class="dropdown-item"><a href="/hardware/">Notices</a></div>
	  <div class="dropdown-item"><a href="/hardware/">Legacy Systems</a></div>
    `;
  }
}

var versionDropdownVisible = false;

function showVersionOptions() {
  if (!versionDropdownVisible) {
    document.getElementById('versionDropdown').style.display = 'block';
    versionDropdownVisible = true;
  }
}

function hideVersionOptions() {
  if (versionDropdownVisible) {
    document.getElementById('versionDropdown').style.display = 'none';
    versionDropdownVisible = false;
  }
}

function selectVersion(version) {
  document.getElementById('versionButton').textContent = version;
  hideVersionOptions();
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'},
'google_translate_element');
}
</script>
